.pageWrapper {
  text-align: center;
  border: 1px solid #b8b2a5;
  margin: auto;
  width: 900px;
  margin-top: 30px;
  border-radius: 8px;
  background: #e6dc9f;
  -webkit-box-shadow: 4px 4px 5px 5px rgba(179,157,69,1);
-moz-box-shadow: 4px 4px 5px 5px rgba(179,157,69,1);
box-shadow: 4px 4px 5px 5px rgba(179,157,69,1);
}

.goWrapper {
  display: inline-block;
  padding-top: 0px;
  width: 30%;
  padding-right: 15px;
}

.goText {
  border-bottom: 1px solid lightsalmon;

  border-width: 2px;

  width: 100%;
  text-align:left;
}


.plusStatusButton {
  border: none;
  background: none;
  margin-top: 25px;
}

.plusStatusButton:focus {
  outline: none;
}
.minusButton {
  border: none;
  background: none;
  padding-right: 20px;
}
.minusButton:hover {
color: red;
}
.minusButton:focus {
  outline: none;
}
.completedWrapper {
  display: inline-block;

  padding-top: 0px;
  width: 30%;
  padding-left: 15px;
}

.completedText {
  border-bottom: 1px solid lightsalmon;
  border-width: 2px;
  width: 100%;
  text-align:left;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .goWrapper {
    display: inline-block;
    padding-top: 5px;
    width: 20%;
    padding-right: 40px;
  }
  .completedWrapper {
    display: inline-block;

    padding-top: 5px;
    width: 20%;
    padding-left: 40px;
  }
  .pageWrapper{
    height: 800px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .goWrapper {
    display: inline-block;
    padding-top: 5px;
    width: 20%;
    padding-right: 40px;
  }
  .completedWrapper {
    display: inline-block;

    padding-top: 5px;
    width: 20%;
    padding-left: 40px;
  }
  .pageWrapper{
    width: 850px;
    height: 700px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .goWrapper {
    display: inline-block;
    padding-top: 5px;
    width: 30%;
    padding-right: 40px;
  }
  .completedWrapper {
    display: inline-block;

    padding-top: 5px;
    width: 30%;
    padding-left: 40px;
  }
  .pageWrapper{
    width: 700px;
    height: 700px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .goWrapper {
    display: inline-block;
    padding-top: 0px;
    width: 40%;
    padding-right: 30px;
  }
  .completedWrapper {
    display: inline-block;

    padding-top: 0px;
    width: 40%;
    padding-left: 30px;
  }
  .pageWrapper{
    width: 510px;
    height: 700px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .goWrapper {
    display: inline-block;
    padding-top: 0px;
    width: 46%;
    padding-right: 10px;
  }
  .completedWrapper {
    display: inline-block;

    padding-top: 0px;
    width: 46%;
    padding-left: 10px;
  }

  .completedText {
    border-bottom: 1px solid lightsalmon;
    border-width: 2px;
    width: 100%;
    text-align: left;
  }
  .goText {
    border-bottom: 1px solid lightsalmon;
    border-width: 2px;
    width: 100%;
    text-align:left;
  }
  .minusButton {
    border: none;
    background: none;
    padding-right: 10px;
    padding-left: 5px;
  }
  .pageWrapper{
    width: 375px;
    border: none;
    box-shadow: none;
    background: transparent;
  }
}
