.pageWrapper {
  text-align: center;
}

.goWrapper {
  display: inline-block;
 padding-top: 5px;
  width: 30%;
  padding-right: 15px;
}

.goText {
  border-bottom: 1px solid slateblue;

  border-width: 2px;

  width: 100%;

}

.completedWrapper {
  display: inline-block;
  
  padding-top: 5px;
  width: 30%;
  padding-left: 15px;
}

.completedText {
  border-bottom: 1px solid slateblue;
  border-width: 2px;
  width: 100%;

}

@media (min-width: 320px) and (max-width: 480px) {
  
  .goWrapper {
    display: inline-block;
    padding-top: 5px;
     width: 44%;
     padding-right:15xpx;
  }
  .completedWrapper {
    display: inline-block;
  
    padding-top: 5px;
    width: 44%;
    padding-left: 15px;
  }
  
}