.todoButton{
padding-left: 15px;
}

.todoButton Button {
    font-size: 20px;
    height: 56px;
    background-color: lightyellow;
    color: lightsalmon;
}

.todoButton Button:hover {
background-color: linen;
}


.textArea Input{
    background-color: lightyellow;
}
.textArea Input:hover{
    background-color: linen;
}

.form {
    margin-top: -5px;
    margin-bottom: -5px;
}