.progress {
  margin: 0 auto;
  margin-top: 25px;
  border: 2px solid gray;
  width: 30%;
  border-radius: 30px;
  background-color: lightyellow;
}
.progress:hover {
  background-color: linen;
}

.progress button {
  padding: 1px;
  border: none;
  background: none;
}

.onGo {
  text-decoration: line-through;
}

.onGO strong {
  color: darkred;
}

.completed strong {
  color: darkolivegreen;
}

.progressButton {
  padding-left: 0px;
  text-decoration: none;
  width: 25%;
}
.progressButton:hover {
  color: green;
}

.progressButton:focus {
  outline: none;
}
.completedButton {
  padding-left: 0px;
  width: 25%;
}
.completedButton:hover {
  color: green;
}
.completedButton:focus {
  outline: none;
}

@media (min-width: 1281px) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 20%;
    border-radius: 30px;
    padding-top: 5px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 20%;
    border-radius: 30px;
    padding-top: 5px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 30%;
    border-radius: 30px;
    padding-top: 5px;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 35%;
    border-radius: 30px;
    padding-top: 5px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 40%;
    border-radius: 20px;
    padding-top: 5px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .progress {
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    width: 50%;
    border-radius: 30px;
    padding-top: 5px;
  }
}
